
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src={{authData.github.profileImageURL}} alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4> {{authData.github.displayName}}</h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i><input type="text" ng-model="profile.email" placeholder="Your e-mail">
                            <br />
                            <i class="glyphicon glyphicon-envelope"></i><input type="text" ng-model="profile.affiliation" placeholder="Your affiliation">
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



