<!-- about.html -->
    <div class="jumbotron text-center">
        <h1>My profile</h1>

        <p>{{ message }}</p>
        <h3>Edit {{ profile.$id }}</h3>

          <label>Name:</label>
          <!-- this input field synchronizes directly to the name attribute in our Firebase database! -->
          <input type="text" ng-model="profile.name">

          <label>Email:</label>
          <!-- and this input field synchronizes directly to the email attribute in our Firebase database! -->
          <input type="text" ng-model="profile.email">
        
        <label>Food preference:</label>
          <!-- and this input field synchronizes directly to the email attribute in our Firebase database! -->
          
        <select  ng-model="profile.foodpreference">
            <option value="everything">Everything</option>
            <option value="vegetarian">Vegetarian</option>
            <option value="vegan">Vegan</option>
        </select>

    </div>
